In [72]:
import numpy as np 
import pandas as pd 
import re

In [73]:
# pd.set_option('display.max_colwidth',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.max_columns',None)

In [74]:
df = pd.read_csv('merged_data_cleaned.csv')

In [75]:
df.sample(5)

,propert_type,society,sector,price_in_crore,price_per_sqft,area_in_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
1511,flat,ss,sector 85,2.10,7467.0,2812.0,Super Built up area 2812(261.24 sq.m.)Built Up...,4,4,3,not available,2.0,North-West,1 to 5 Year Old,"['Orris Community Center', 'Indian Oil', 'Essa...","['6 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Feng Shui / Vaastu Compliant', 'Security / F..."
3378,house,independent,sector 24,11.00,28898.0,3806.0,Plot area 3806.45(353.63 sq.m.)Built Up area: ...,8,11,3+,"pooja room,study room,servant room,others",3.0,East,10+ Year Old,NaN,"['8 Wardrobe', '12 Fan', '1 Exhaust Fan', '8 G...","['Private Garden / Terrace', 'Swimming Pool', ..."
1881,flat,sbtl caladium,sector 109,1.68,6601.0,2545.0,Super Built up area 2545(236.44 sq.m.),3,3,3+,servant room,7.0,East,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Chirag Hospital...",NaN,"['Security / Fire Alarm', 'Power Back-up', 'Fe..."
375,flat,hero homes,sector 9,1.60,7825.0,2045.0,Super Built up area 1689(156.91 sq.m.),3,3,3,not available,1.0,NaN,0 to 1 Year Old,"['Gol Market', 'Gurdwara Baba Deep Singh', 'Gu...","['2 Wardrobe', '2 Fan', '2 Light', '1 Modular ...","['Feng Shui / Vaastu Compliant', 'Security / F..."
1395,flat,dlf regal gardens,sector 90,1.75,7900.0,2215.0,Super Built up area 2215(205.78 sq.m.),4,4,3+,others,3.0,East,1 to 5 Year Old,"['SS Omnia, Sector 86', 'Numberdar market, IMT...",NaN,"['Lift(s)', 'Maintenance Staff']"

In [76]:
df.duplicated().sum()

122

In [77]:
df.shape

(3803, 17)

In [78]:
df.drop_duplicates(inplace = True)

In [79]:
df.shape

(3681, 17)

In [80]:
df.sample(5)[['price_in_crore', 'area_in_sqft' , 'areaWithType']]

      price_in_crore  area_in_sqft                            areaWithType
2531            1.15        2091.0      Built Up area: 2000 (185.81 sq.m.)
2856            2.08        1727.0  Super Built up area 1727(160.44 sq.m.)
118             0.34         629.0          Carpet area: 629 (58.44 sq.m.)
1171            1.10        1450.0  Super Built up area 1450(134.71 sq.m.)
2224            0.70        1548.0        Carpet area: 1548 (143.81 sq.m.)

In [81]:
# This function extracts the Super Built up area
def get_super_built_up_area(text):
    match = re.search(r'Super Built up area (\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [82]:
# This function extracts the Built Up area or Carpet area
def get_area(text, area_type):
    match = re.search(area_type + r'\s*:\s*(\d+\.?\d*)', text)
    if match:
        return float(match.group(1))
    return None

In [83]:
# This function checks if the area is provided in sq.m. and converts it to sqft if needed
def convert_to_sqft(text, area_value):
    if area_value is None:
        return None
    match = re.search(r'{} \((\d+\.?\d*) sq.m.\)'.format(area_value), text)
    if match:
        sq_m_value = float(match.group(1))
        return sq_m_value * 10.7639  # conversion factor from sq.m. to sqft
    return area_value

In [84]:
df['super_built_up_area'] = df['areaWithType'].apply(get_super_built_up_area)
df['super_built_up_area'] = df.apply(lambda x : convert_to_sqft(x['areaWithType'],x['super_built_up_area']),axis = 1)
df.sample(1)

,propert_type,society,sector,price_in_crore,price_per_sqft,area_in_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features,super_built_up_area
1539,flat,tata primanti,sector 72,3.3,15102.0,2185.0,Super Built up area 2185(202.99 sq.m.)Built Up...,3,4,3+,servant room,15.0,North,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'Omaxe City Cen...","['1 Water Purifier', '5 Fan', '1 Fridge', '1 E...","['Centrally Air Conditioned', 'Water purifier'...",2185.0